.about-wrapper {
    width: 100%;
    background: #003b95;
    padding: 4rem 1rem;
    display: flex;
    justify-content: center;
}


.about-image {
width: 50%;
height: 50%;
object-fit: cover;
display: block;
}


.about-content {
color: white;
}


.about-title {
font-size: 2.5rem;
font-weight: 800;
margin-bottom: 1rem;
}


.about-text {
font-size: 1.05rem;
line-height: 1.65rem;
margin-bottom: 1rem;
color: #e6e9f0;
}


.about-more ul {
margin-left: 1rem;
margin-bottom: 1rem;
}


.about-more li {
margin-bottom: 0.4rem;
color: #f0f4ff;
}


.read-btn {
margin-top: 1rem;
background: transparent;
border: 2px solid white;
color: white;
padding: 0.6rem 1.4rem;
font-size: 1rem;
border-radius: 6px;
cursor: pointer;
transition: 0.25s ease;
}


.read-btn:hover {
background: white;
color: #003b95;
}


/* RESPONSIVE */
@media (max-width: 900px) {
.about-container {
grid-template-columns: 1fr;
}
.about-title {
font-size: 2rem;
}
}